{{#each trailers as |trailer|}}

<li class="media trailer-list-media mb-4" id="update-from-linkers" data-id="{{trailer.id}}">
  <img src="public/trailers/showcase-images/{{trailer.picture}}trailer.jpg" class="mr-3" alt="picture of trailer">
  <div class="media-body">
    <h5 class="mt-0 mb-1 text-center font-weight-bold">{{limit trailer.make 15}}</h5>
    <p class="my-0 text-center">{{limit trailer.model 15}}</p>
    <hr class="mt-0">
    <div class="bubble-trailer-1">
      <div class="row mb-2">
        <div class="col-6 text-center">
          Year:
        </div>
        <div class="col-6 text-center">
          {{trailer.year}}
        </div>
        <div class="col-6 text-center">
          Type:
        </div>
        <div class="col-6 text-center">
          {{trailer.trailer_type}}
        </div>
        <div class="col-6 text-center">
          Hitch:
        </div>
        <div class="col-6 text-center">
          {{trailer.hitch_type}}
        </div>
        <div class="col-6 text-center">
          Length:
        </div>
        <div class="col-6 text-center">
          {{trailer.length}} ft
        </div>
        <div class="col-6 text-center">
          GVWR:
        </div>
        <div class="col-6 text-center">
          {{trailer.gvwr}} lbs
        </div>
        <div class="col-6 text-center">
          Axels:
        </div>
        <div class="col-6 text-center">
          {{trailer.axels}}
        </div>
        <div class="col-6 text-center">
          Price:
        </div>
        <div class="col-6 text-center">
          ${{trailer.price}} / day
        </div>
      </div>
      <hr class="mt-0">
    </div>
    <div class="d-flex flex-column align-items-center bubble-trailer-2">
      <button data-id="{{trailer.id}}" class="btn btn-outline-info btn-sm col-8 update-button mb-2">Update</button>
      <button data-id="{{trailer.id}}" class="btn btn-outline-danger btn-sm col-8 del-button mb-4">Delete</button>
    </div>
    <hr class="bg-dark mt-0">
  </div>
</li>

{{/each}}
