{{#each trailers as |trailer|}}

<li class="media trailer-list-media mb-4" data-id="{{trailer.id}}">
  <img src="public/trailers/showcase-images/{{trailer.id}}trailer.jpg" class="mr-3" alt="picture of trailer">
  <div class="media-body">
    <h5 class="mt-0 mb-1">{{trailer.make}} | {{trailer.model}}</h5>
    <div class="bubble-trailer-1">
      <div class="row mb-2">
        <div class="col-6">
          Year: {{trailer.year}}
        </div>
        <div class="col-6">
          Type: {{trailer.trailer_type}}
        </div>
        <div class="col-6">
          Hitch: {{trailer.hitch_type}}
        </div>
        <div class="col-6">
          Length: {{trailer.length}}
        </div>
        <div class="col-6">
          GVWR: {{trailer.gvwr}}
        </div>
        <div class="col-6">
          Axels: {{trailer.axels}}
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center bubble-trailer-2">
      <button data-id="{{trailer.id}}" class="btn btn-info btn-sm col-5 update-button ">Update</button>
      <button data-id="{{trailer.id}}" class="btn btn-outline-danger btn-sm col-5 del-button">Delete</button>
    </div>
  </div>
</li>

{{/each}}
